.venv/
__pycache__/
*.pyc
.pytest_cache/
entrada/*
!entrada/.gitkeep
processados/*
!processados/.gitkeep
revisao/*
!revisao/.gitkeep
erro/*
!erro/.gitkeep
resultado/**/*
!resultado/**/.gitkeep
logs/*
!logs/.gitkeep
banco/*
!banco/.gitkeep
